input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#submitDelUserForm {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  white-space: nowrap;
  font-size:14px;
  text-decoration: none;
}

#submitDelUserForm:hover {
  text-decoration: none;
}

.authHeaders {
  text-align: center;
}

.faIcons {
  margin-right: 5px;
}

#delUserForm:hover {
  background-color: #f5f5f5;
}

.itemLeft {
  border-right: 1px solid #333;
}

.itemHeaders {
  margin-right: 15px;
}

#addToCartBtn {
  position:absolute;
  bottom:0;
  right:0;
}


#itemBody {
  position:relative;
}

#itemDescription {
  letter-spacing: 1px;
  /* line-height: 20px; */
  margin-top: 15px;
  margin-right: 25px;
  text-align: justify;
}
