input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.showItemImg {
  max-width: 160px;
  max-height: 600px;
}

table {
  font-size: 120%;
}

table .btn {
  font-size: 100%;
}

/* TODO:
  Fix el. hover effect for small devices.
 */

.itemEl{
  text-align: center;
  margin-bottom: 25px;
  border-radius: 15px;
}

.itemImg {
  margin: 0 auto;
}

.itemTitle {
  text-decoration: none;
  color: #333;
}

#submitDelUserForm {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  white-space: nowrap;
  font-size:14px;
  text-decoration: none;
}

#submitDelUserForm:hover {
  text-decoration: none;
}

.authHeaders {
  text-align: center;
}

.faIcons {
  margin-right: 5px;
}

#delUserForm:hover {
  background-color: #f5f5f5;
}

.itemLeft {
  border-right: 1px solid #333;
}

.itemHeaders {
  margin-right: 15px;
}

#addToCartBtn {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
}

img.resize {
  max-width:268px;
  max-height:268px;
}


#itemBody {
  position:relative;
}

#itemDescription {
  letter-spacing: 1px;
  /* line-height: 20px; */
  margin-top: 15px;
  margin-right: 25px;
  text-align: justify;
}
